backend/vendor/
backend/.env
backend/ecommerce
frontend/node_modules/
frontend/dist/
frontend/cypress/screenshots/
frontend/cypress/videos/
mobile/node_modules/
mobile/.expo/
backend/.phpunit.result.cache
mysql_data/
